/* import icons from bootstrap-icons and font from google font  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* document format */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
:root{
    --white-color : #fff;
    --black-color : #000;
    --border-color : #d4d4d4;
    --light-white-color : #f0f0f0;
    --light-gray-color : #e5e5e5;
    --primary-color : #3d82f6;
    --secondary-color : #404040;
    --overlay-dark-color : rgba(0,0,0,0.6);
}
body.dark-mode{
    --white-color : #171717;
    --black-color : #d4d4d4;
    --light-white-color: #333;
    --light-gray-color : #404040;
    --border-color : #737373;
    --secondary-color : #d4d4d4;
}
body{
    background: var(--white-color);
}
body.sidebar-hidden .sidebar{
    width: 0;
    padding: 0;
    transition: all .2s ease-in-out;
}
.container{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
header, .list-btn-wrapper{
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--white-color);
}
.navbar{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.nav-img{
    width: 32px;
    border-radius: 50%;
}
.left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--black-color);
}
.center{
    display: flex;
    width: 100%;
    gap: 0.5rem;
    justify-content: center;
}
.center form{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    height: 40px;
    flex: 1;
}
.center form .search-input{
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border : 1px solid var(--border-color);
    border-radius: 3.1rem 0 0 3.1rem;
    outline: none;
    font-size: 1rem;
    color: var(--black-color);
    background: var(--white-color) ;
}
.center form .search-input:focus{
    border-color: var(--primary-color);
}
#search-btn{
    border-radius: 0 3.1rem 3.1rem 0;
    border : 1px solid var(--border-color);
    padding: 0 1.25rem;
    width: auto;
    border-left: 0;
}
.right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.right #search-btn{
    display: none   ;
    padding: 0;
    width: auto;
    border-left: 0;
    height: 40px;
    width: 40px;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.right #search-btn:hover{
    background: var(--light-gray-color);
}
#mic-btn{
    background : var(--light-gray-color);
}
.nav-btn{
    height: 40px;
    width: 40px;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.nav-btn i{
    color : var(--black-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn:hover{
    background: var(--light-gray-color);
}
/* ------------main------------------ */
.main{
    display: flex;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #a6a6a6 transparent;
}
.sidebar{
    width: 298px;
    padding: 0.7rem 0;
    background-color: var(--white-color);
    transition: all .2s ease-in-out;
}
.sidebar .link-container{
    overflow-y: auto;
    height: calc(100vh - 60px);
    padding: 1rem 0 2rem;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.sidebar .link-container:hover{
    scrollbar-color: #a6a6a6 transparent;
}
.sidebar .link-section .link{
    padding: 0.37rem 0.75rem;
    margin-bottom: 0.25rem;
    background:none;
    text-decoration: none;
    color: var(--black-color);
    white-space: nowrap;
    border-radius: .5rem;
    font-size: 0.93rem;
    display: flex;
    align-items: center;
}
.sidebar .link-section .link:hover{
    background: var(--light-white-color);
}
.sidebar .link-section .link i{
    font-size: 1.4rem;
    margin-right: .64rem;
}
.sidebar .link-section .title-link{
    font-size: .938rem;
    font-weight: 700;
    color: var(--black-color);
    margin: 1rem .5rem .5rem;
}
.sidebar .separator{
    height: 1px;
    margin: .62rem 0;
    background : var(--light-gray-color)
}
.main .sidebar .left{
    display: none;
    padding: 0.5rem 0.3rem;
}
.content-wrapper{
    padding: 0 1rem;
    overflow-x: hidden;
    width: 100%;
}
.list-btn-wrapper{
    display: flex;
    gap: 0.75rem;
    overflow: auto;
    padding: 0.75rem 0.7rem;
    scrollbar-width: none;
}
.list-btn{
    padding: 0.4rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    background: var(--light-gray-color);
    white-space: nowrap;
    cursor: pointer;
    color : var(--black-color);
}
.list-btn.active{
    color: var(--white-color);
    background: var(--black-color);
    pointer-events: none;
}
.list-btn:hover{
    background: var(--border-color) ;
}
.video-list .video-card{
    text-decoration: none;
}
.video-list .video-card .video-info{
    display: flex;
    gap: 0.7rem;
    padding: .7rem .5rem;
}
.thumbnail-container{
    position: relative;
}
.content-wrapper .video-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1.2rem 0 4rem;
}
.video-list .video-card .thumbnail{
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16 / 9;
}
.video-list .video-card .icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.video-details .title{
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.video-details .title:hover{
    color: var(--primary-color);
}
.video-card .timer{
    position: absolute;
    right: 0.65rem;
    bottom: 0.8rem ;
    color: #fff;
    font-size: 0.875rem;
    padding: 0 0.3rem;
    border-radius : 0.3rem;
    background: var(--overlay-dark-color);
}
.video-card p{
    font-size: 0,875rem;
    color: var(--secondary-color);
}
.video-card .channel-name{
    margin: .25rem 0 .15rem;
}
@media (max-width : 768px){
    .navbar .center{
        display: none;
    }
    .navbar .right #search-btn{
        display: block;
    }
    .main .screen-overlay{
        position: absolute;
        left: 0;top: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background: var(--overlay-dark-color);
        transition: .2s ease;
    }
    body.sidebar-hidden .main .screen-overlay {
        opacity: 0;
        pointer-events: none;
    }
    .main .sidebar{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        height: 100vh;
        transition: .2 ease;
    }
    body.sidebar-hidden .main .sidebar{
        left: -280px;
    }
    .main .sidebar .left{
        display: flex;
    }
}